$ns: '.gauge';

#{$ns} {
    position: relative;
    margin: 0 auto;
    padding: 0;
    display: inline-block;

    &__canvas {
        position: relative;
    }

    &__text {
        position: absolute;
        top: 0;
        width: 414px;
        height: 220px;
        text-align: center;
    }

    &__type {
        font-size: 18px;
        position: relative;
        top: 5px;
    }

    &__min {
        position: absolute;
        bottom: 40px;
        left: 92.5px;
    }

    &__max {
        position: absolute;
        bottom: 40px;
        right: 87.5px;
    }

    &__value {
        position: relative;
        top: 70px;
        font-size: 48px;
        color: #545A64;
        margin: 0 auto;
    }
}